<div class="container text-center mt-5">
  <h1>{{title}}</h1>
  <p class="lead">{{subtitle}}</p>

  <div class="mt-4">
    <a href="/hb1" class="btn btn-outline-primary">HB1</a>
    <a href="/hb2" class="btn btn-outline-secondary">HB2</a>
    <a href="/hb3" class="btn btn-outline-success">HB3</a>
    <a href="/hb4" class="btn btn-outline-warning">HB4</a>
  </div>
</div>
